fastapi
uvicorn
pydantic
python-dotenv
requests
--extra-index-url https://download.pytorch.org/whl/cpu
transformers
torch
scikit-learn
pandas
joblib
git+https://github.com/amazon-science/chronos-forecasting.git
